/* 
    Document   : rentasAdmin
    Created on : Jul 24, 2012, 3:02:12 PM
    Author     : Rodrigo Santellan <rodrigo.santellan at inswitch.us>
    Description:
        Purpose of the stylesheet follows.
*/

div.reserva_datos_usuario{
  float: left;
  width: 50%;
}

div.reserva_imagen_usuario{
  float: left;
  height: 180px;
  width: 45%;
}

div.reserva_imagen_usuario img{
  margin: auto;
}

div.reserva_datos_apartamento{
  float: left;
  width: 50%;
}

div.reserva_imagen_apartamento{
  float: left;
  height: 180px;
  width: 45%;
}

div.reserva_imagen_apartamento img{
  margin: auto;
}

#sf_admin_bar{
  float: none !important;
}

div.rentas_filters label{
  float: none !important;
}

div.filter_field_div{
  border-style: dotted; 
  border-width: 1px; 
  width: 25%; 
  text-align: center;
  float: left;
  height: 100px;
}

div.filter_field_div .help{
  padding-left: 0 !important;
}

div.filter_field_div label {
    padding: 0 !important;
    text-align: center !important;
    width: 100% !important;
}    
div.form_actions{
  float: left;
  padding-top: 40px;
  text-align: center;
  width: 25%;
}

div.padding_block_filter{
  height: 20px;
  width: 100%;
  border-top-width: 1px;
  border-top-style: dotted;
}

div.sf_admin_list{
  width: 100%;

}

a.reserva_estado_pending{
  background-color: yellow !important;
  color: green !important;
}

a.reserva_estado_confirm{
  background-color: blue !important;
  color: white !important;
}

a.reserva_estado_efective{
  background-color: blueviolet !important;
  color: white !important;
}

a.reserva_estado_cancel{
  background-color: red !important;
  color: green !important;
}

a.reserva_estado_cancelPayPal{
  background-color: red !important;
  color: blue !important;
}

a.reserva_estado_errorPayPal{
  background-color: red !important;
  color: black !important;
}

a.reserva_estado_prePayPal{
  background-color: yellow !important;
  color: green !important;
}


div.form_status_field{
	width: 100%;
	text-align: center !important;
}

div.reserva_usuario{
  width: 600px;
}

div.reserva_apartamento{
  width: 600px;
}