/*contenet*/
.content {
    float: left;
    width: 1020px;
	list-style:none;
	font-family: 'BelloSmCp';
}
.content li {
	display:inline;
	margin-right:7px;
}
.title {
    float: left;
    margin-top: 40px;
	margin-bottom:10px;
	font-family: 'CourierRegular';
}
.title-right {
    float: right;
}
.title-right li{
	display:list-item;
}
.main-content-up {
	background:#FFF;
	float:left;
	width:1020px;
	margin-bottom:5px;
}
.property-left {
    float: left;
    width: 65px;
}
.property-img {
    float: left;
	margin-right:10px;
}
.property-right {
    float: left;
    width: 121px;
}
.col-left {
	float:left;
	width:720px;
}
.perfil {
	float:left;
	width:705px;
	margin-left:15px;
	margin-bottom:15px;
}
.perfil img {
	float:left;
	margin-right:10px;
}
h1 {
    color: #00B800;
    font-size: 68px;
    line-height: 70px;
    margin: 0;
}
.info-profile {
	font-family: 'BelloProRegular';
}
.datos {
	float: left;
	width:330px;
	margin-top:5px;
	margin-right: 50px;
	vertical-align: middle;
	/* [disabled]border: 1px solid #00F; */
}
.datos input{
	float: right;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 150px;
}
.save {
    background: url("../images/botton-green.png") repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    float: left;
    font-family: 'BelloProRegular';
    font-size: 23px;
    height: 62px;
    margin-right: 5px;
    margin-top: 6px;
    position: relative;
    width: 247px;
}
.properties {
	float:left;
	margin-bottom: 15px;
    margin-left: 15px;
}
.properties img {
    float: left;
    margin-top: 8px;
}
.propiedad {
	float:none;
	font-family: 'BelloProRegular';
	font-size:23px;
	margin-left:30px;
}
.my-properties {
    float: left;
    margin-right: 7px;
    width: 230px;
}
.my-properties img {
	float:left;
	margin-right:7px;
	margin-top:5px;
}
.tipo {
	float:left;
	font-family: 'CourierRegular';
	color:#72D400;
	font-size:11px;
	font-weight:bold;
}
.servicios {
	float:left;
	font-family: 'CourierRegular';
	font-size:10px;
}
.buttons {
    float: left;
    margin-top: 10px;
}
.messages {
    background: url("../images/description.png") repeat scroll 0 0 transparent;
    border: 0 none;
    color: #000000;
    float: left;
    font-family: 'BelloProRegular';
    font-size: 23px;
    height: 57px;
    left: 13px;
    margin-top: 4px;
    position: relative;
    width: 158px;
	margin-right:5px;
}
.reviews {
    background: url("../images/reviews.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #000000;
    float: left;
    font-family: 'BelloProRegular';
    font-size: 23px;
    height: 57px;
    left: 13px;
    margin-top: 4px;
    position: relative;
    width: 127px;
	margin-right:5px;
}
.current-messages {
	background:#000;
	color:#FFF;
	border: 0 none;
    float: left;
    font-family: 'BelloProRegular';
    font-size: 23px;
    height: 51px;
    left: 13px;
    margin-top: 10px;
    position: relative;
    width: 144px;
	margin-right:5px;
}
.current-reviews {
	background:#000;
	color:#FFF;
	border: 0 none;
    float: left;
    font-family: 'BelloProRegular';
    font-size: 23px;
    height: 51px;
    left: 13px;
    margin-top: 10px;
    position: relative;
    width: 122px;
	margin-right:5px;
}
.description-text {
	float:left;
	font-family: 'CourierRegular';
	font-size:11px;
	margin-left:15px;
	margin-bottom:15px;
}
.description-text li {
	display:list-item;
}
.comment {
    border: 1px solid;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
}
.comment-current {
	border: 1px solid #00B800;
}
.img {
	float:left;
	margin-right:10px;
	margin-top: 7px;
}
.name {
	font-family: 'BelloSmCp';
	font-size:19px;
}
.date {
	font-size:10px;
	font-family: 'CourierRegular';
	color:#CCCCCC;
}
.col-right {
    float: right;
    width: 284px;
}
.propiedades {
	background: url(../images/propiedades.png);
	padding-left: 15px;
	height:48px;
}
.reservacion {
    font-size: 19px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.reserved {
  border-bottom: 1px solid;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 259px;
}
.reserved img {
	float:left;
	margin-right:10px
}
.visited {
    font-size: 19px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.visitados {
    border-bottom: 1px solid;
    float: left;
    margin-left: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.visitados img {
	float:left;
	margin-right:10px
}
.comentario {
	font-family:'CourierRegular';
	font-size:11px;
}
/*responder msj*/
.new-comment {
    float: left;
    font-family: 'BelloProRegular';
    font-size: 15px;
    margin-top: 19px;
}
textarea {
    color: #72D400;
    float: none;
    height: 88px;
    width: 667px;
}
.comment-sent {
	float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
}
.description-text-sent {
    float: left;
    font-family: 'CourierRegular';
    font-size: 11px;
	margin-top:15px;
    margin-left: 15px;
	border:1px solid;
	padding:10px;
}
.comment-msj {
    margin-left: 15px;
    width: 690px;
	border: 1px solid;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
}
/*reviews*/
.comment-review {
    border-bottom: 1px solid;
    float: left;
    padding-bottom: 15px;
    margin-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
}
.gusta-nogusta {
	float:right;
}
.gusta-nogusta img {
	margin-left:10px;
}